chainer==6.4.0
Click==7.0
dill==0.3.1.1
filelock==3.0.12
Flask==1.1.1
gunicorn==19.9.0
itsdangerous==1.1.0
Janome==0.3.9
Jinja2==2.11.3
MarkupSafe==1.1.1
numpy==1.21.0
protobuf==3.15.0
six==1.12.0
typing==3.6.6
typing-extensions==3.6.6
Werkzeug==0.16.0
